SUBSYSTEM!="sound", GOTO="player_usb_audio_end"
ACTION!="add", GOTO="player_usb_audio_end"

DEVPATH=="/devices/platform/ocp/47400000.usb/47401400.usb/musb-hdrc.0/usb1/1-1/1-1:1.0/sound/card?", ATTR{id}="OutPlayer"

LABEL="player_usb_audio_end"
