# /etc/udev/rules.d/80-gpio-noroot.rules
#
#SUBSYSTEM=="gpio", KERNEL=="gpiochip*", ACTION=="add", PROGRAM="/bin/sh -c 'chown root:gpio /sys/class/gpio/export /sys/class/gpio/unexport ; chmod 220 /sys/class/gpio/export /sys/class/gpio/unexport'" 
SUBSYSTEM=="gpio", KERNEL=="gpio*", ACTION=="add", PROGRAM="/bin/sh -c 'chown root:gpio /sys%p/active_low /sys%p/direction /sys%p/edge /sys%p/value ; chmod 660 /sys%p/active_low /sys%p/direction /sys%p/edge /sys%p/value'"


SUBSYSTEM=="gpio", GROUP="gpio", MODE="0660"  
SUBSYSTEM=="gpio*", PROGRAM="/bin/sh -c 'chown -R root:gpio /sys/class/gpio && /bin/chmod -R 770 /sys/class/gpio; chown -R root:gpio /sys/devices/platform/soc/1f02c00.pinctrl/gpiochip0/gpio/ && chmod -R 770 /sys/devices/platform/soc/1f02c00.pinctrl/gpiochip0/gpio/; chown -R root:gpio /sys/devices/platform/soc/1c20800.pinctrl/gpiochip1/gpio/ && chmod -R 770 /sys/devices/platform/soc/1c20800.pinctrl/gpiochip1/gpio/'"
